from flopy4.package import MFPackage


class {{ model_abbr }}{{ package_abbr }}(MFPackage):
    {% block options %}{% endblock %}
    {% block dimensions %}{% endblock %}
    {% block packagedata %}{% endblock %}
    {% block periods %}{% endblock %}

    def __init__(
        self,
        {% for param in params %}{{ param }},{% endfor %}
    ):
        {% for param in params %}self.{{ param }} = {{ param }}{% endfor %}