{%- macro block_header(block) -%}
{%- if block.repeats -%}
{{ block.name }}_block: "begin"i "{{ block.name }}"i block_label {{ block.name }}_fields "end"i "{{ block.name }}"i block_label
{%- else -%}
{{ block.name }}_block: "begin"i "{{ block.name }}"i {{ block.name }}_fields "end"i "{{ block.name }}"i
{%- endif -%}
{%- endmacro %}

{% macro scalar_or_array(field) -%}
{% set name = field.name|unhyphenate }
{{ name| }}: "{{ name }}"i {{ field.type }}
{%- endmacro %}

{% macro record(field) -%}
{% set name = field.name|unhyphenate }
{{ name }}: {% for child in field.fields.values() -%}
{%- set child_name = child.name|unhyphenate -%}
{%- if child.type == 'keyword' -%}
"{{ child_name }}"i
{%- elif child.type == 'union' -%}
{{ child_name }}
{%- else -%}
{{ child.type }}
{%- endif -%}
{%- if not loop.last %} {% endif -%}
{%- endfor %}
{%- endmacro %}

{% macro union(field) -%}
{% set name = field.name|unhyphenate }
{{ name }}: {% for child in field.children.values() -%}
{% set child_name = child.name|unhyphenate }
{{ name }}_{{ child_name }}
{%- if not loop.last %} | {% endif -%}
{%- endfor %}
{% for child in field.children.values() -%}
{% set child_name = child.name|unhyphenate }
{{ name }}_{{ child_name }}: {% if child.type == 'keyword' -%}
"{{ child_name }}"i
{%- else -%}
"{{ child_name }}"i {{ child.type }}{% if child.type == 'array' %}+{% endif %}
{%- endif %}
{% endfor -%}
{%- endmacro %}

{%- macro list(block_name, field) -%}
{% set name = field.name|unhyphenate }
{{ block_name }}_fields: (
{%- for field_name in field.fields.keys() %}{{ field_name|unhyphenate }} | {% endfor -%}
{{ name }})*
{%- else -%}
{{ block_name }}_fields: (
{%- for field_name in fields.fields.keys() %}
{{- field_name|unhyphenate }}{% if not loop.last %} | {% endif %}
{%- endfor -%}
)*
{%- endif -%}
{%- endmacro %}
